<div class="page-wrapper">
  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- Page Title -->
  <div class="page-title">
    <div
      class="icon-one"
      style="background-image: url(../../../assets/images/icons/icon-7.png)"
    ></div>
    <div class="auto-container">
      <div class="clearfix">
        <div class="pull-left">
          <h2>Services</h2>
        </div>
        <div class="pull-right">
          <div class="image">
            <img src="../../../assets/images/resource/page-title.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Clients Section Three -->
  <section class="call-to-action-three-section">
    <div class="auto-container">
      <!-- Title Box -->
      <div class="title-box text-center">
        <h2>40 Years of tradition</h2>
        <div class="text">
          The first marathon was help on May 27th and 28th, 1978. on the trail
          of Great Marathon
        </div>
        <a href="#" class="theme-btn btn-style-four"
          ><span class="txt">Get Started Free</span></a
        >
      </div>
    </div>
  </section>
  <!-- End Clients Section Three -->

  <!-- Agency Section -->
  <section class="agency-section">
    <div
      class="pattern-layer"
      style="background-image: url(../../../assets/images/background/3.png)"
    ></div>
    <div class="auto-container">
      <!-- Sec Title -->
      <div class="sec-title text-center">
        <h2>Better Agency Solution</h2>
      </div>

      <div class="agency-carousel owl-carousel owl-theme">
        <div class="slide">
          <div class="row clearfix">
            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-1.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Analytics and reporting </a></h4>
                <div class="text">
                  Increase your team’s productivity and save time with a bot
                  that and fields customer inquiries
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-2.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Creative Development</a></h4>
                <div class="text">
                  We take a strategic approach to design that is rooted in
                  performance marketing,as well as an understanding
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Email marketing </a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-4.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Finance Planning</a></h4>
                <div class="text">
                  A financial plan is a comprehensive evaluation of an
                  investor's current and future financial
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-5.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Digital Marketing</a></h4>
                <div class="text">
                  Digital marketing is the marketing of products or services
                  using digital technologies
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img src="images/icons/right-arrow.png" alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img src="images/icons/agency-3.png" alt="" />
                  </div>
                </div>
                <h4><a href="#">Web Development</a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img src="images/icons/right-arrow.png" alt="" /></span
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div class="row clearfix">
            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-1.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Analytics and reporting </a></h4>
                <div class="text">
                  Increase your team’s productivity and save time with a bot
                  that and fields customer inquiries
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->../../../assets/
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-2.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Creative Development</a></h4>
                <div class="text">
                  We take a strategic approach to design that is rooted in
                  performance marketing,as well as an understanding
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Email marketing </a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-4.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Finance Planning</a></h4>
                <div class="text">
                  A financial plan is a comprehensive evaluation of an
                  investor's current and future financial
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img src="images/icons/agency-5.png" alt="" />
                  </div>
                </div>
                <h4><a href="#">Digital Marketing</a></h4>
                <div class="text">
                  Digital marketing is the marketing of products or services
                  using digital technologies
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img src="images/icons/right-arrow.png" alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Web Development</a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div class="row clearfix">
            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-1.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Analytics and reporting </a></h4>
                <div class="text">
                  Increase your team’s productivity and save time with a bot
                  that and fields customer inquiries
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-2.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Creative Development</a></h4>
                <div class="text">
                  We take a strategic approach to design that is rooted in
                  performance marketing,as well as an understanding
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Email marketing </a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
              ../../../assets/
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-4.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Finance Planning</a></h4>
                <div class="text">
                  A financial plan is a comprehensive evaluation of an
                  investor's current and future financial
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-5.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Digital Marketing</a></h4>
                <div class="text">
                  Digital marketing is the marketing of products or services
                  using digital technologies
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>

            <!-- Agency Block -->
            <div class="agency-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="icon-outer">
                  <div class="icon">
                    <img
                      src="../../../assets/images/icons/agency-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h4><a href="#">Web Development</a></h4>
                <div class="text">
                  Whether it’s your existing customer database or as a component
                  of an acquisition strategy,
                </div>
                <a class="read-more" href="#"
                  >read more
                  <span class="arrow"
                    ><img
                      src="../../../assets/images/icons/right-arrow.png"
                      alt="" /></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Agency Section -->

  <!-- Clients Section -->
  <section class="clients-section">
    <div class="auto-container">
      <div class="inner-container margin-bottom">
        <div class="sponsors-outer">
          <!--Sponsors Carousel-->
          <ul class="sponsors-carousel owl-carousel owl-theme">
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/1.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/2.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/3.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              ../../../assets/
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/4.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/5.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"
                  ><img src="../../../assets/images/clients/1.png" alt=""
                /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/2.png" alt="" /></a>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->
</div>
