<div class="page-wrapper">
  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- Page Title -->
  <div class="page-title">
    <div
      class="icon-one"
      style="background-image: url(../../../assets/images/icons/icon-7.png)"
    ></div>
    <div class="auto-container">
      <div class="clearfix">
        <div class="pull-left">
          <h2>News List</h2>
        </div>
        <div class="pull-right">
          <div class="image">
            <img src="../../../assets/images/resource/news-1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Sidebar Page Container -->
  <div class="sidebar-page-container">
    <div class="auto-container">
      <div class="row clearfix">
        <!-- Content Side -->
        <div class="content-side col-lg-9 col-md-12 col-sm-12">
          <div class="news-classic">
            <div class="classic-inner">
              <!-- News Block -->
              <div class="news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img
                        src="../../../assets/images/resource/news-1.jpg"
                        alt=""
                    /></a>
                    <div class="post-date">Creative Design</div>
                  </div>
                  <div class="lower-content">
                    <h3>
                      <a href="blog-single.html"
                        >What should IT know about millennials?</a
                      >
                    </h3>
                    <ul class="post-meta">
                      <li><span class="icon fa fa-user"></span>Post: Mahfuz</li>
                      <li>
                        <span class="icon fa fa-clock-o"></span>09 October 2020
                      </li>
                    </ul>
                    <div class="text">
                      They were born into the world of digital data. They might
                      be seen as entitled by other generations in the workplace,
                      have the upper hand when it comes to technological
                      competence,
                    </div>
                    <a class="read-more" href="blog-single.html">Read More</a>
                  </div>
                </div>
              </div>

              <!-- News Block -->
              <div class="news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img
                        src="../../../assets/images/resource/news-2.jpg"
                        alt=""
                    /></a>
                    <div class="post-date">Photography</div>
                  </div>
                  <div class="lower-content">
                    <h3>
                      <a href="blog-single.html">Digital Photography Tips</a>
                    </h3>
                    <ul class="post-meta">
                      <li><span class="icon fa fa-user"></span>Post: Mahfuz</li>
                      <li>
                        <span class="icon fa fa-clock-o"></span>09 October 2020
                      </li>
                    </ul>
                    <div class="text">
                      These cameras look and act like traditional cameras with a
                      few extra features. Tricky camera designs are quickly
                      leaving the marketplace because
                    </div>
                    <a class="read-more" href="blog-single.html">Read More</a>
                  </div>
                </div>
              </div>

              <!-- News Block -->
              <div class="news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img
                        src="../../../assets/images/resource/news-3.jpg"
                        alt=""
                    /></a>
                    <div class="post-date">Photography</div>
                  </div>
                  <div class="lower-content">
                    <h3>
                      <a href="blog-single.html"
                        >Brittany Lloyd, Lo & Behold Stitchery</a
                      >
                    </h3>
                    <ul class="post-meta">
                      <li><span class="icon fa fa-user"></span>Post: Mahfuz</li>
                      <li>
                        <span class="icon fa fa-clock-o"></span>09 October 2020
                      </li>
                    </ul>
                    <div class="text">
                      These cameras look and act like traditional cameras with a
                      few extra features. Tricky camera designs are quickly
                      leaving the marketplace because
                    </div>
                    <a class="read-more" href="blog-single.html">Read More</a>
                  </div>
                </div>
              </div>

              <!-- News Block -->
              <div class="news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img
                        src="../../../assets/images/resource/news-4.jpg"
                        alt=""
                    /></a>
                    <div class="post-date">Photography</div>
                  </div>
                  <div class="lower-content">
                    <h3>
                      <a href="blog-single.html"
                        >Cheryl Brickey, Meadow Mist Designs</a
                      >
                    </h3>
                    <ul class="post-meta">
                      <li><span class="icon fa fa-user"></span>Post: Mahfuz</li>
                      <li>
                        <span class="icon fa fa-clock-o"></span>09 October 2020
                      </li>
                    </ul>
                    <div class="text">
                      These cameras look and act like traditional cameras with a
                      few extra features. Tricky camera designs are quickly
                      leaving the marketplace because
                    </div>
                    <a class="read-more" href="blog-single.html">Read More</a>
                  </div>
                </div>
              </div>

              <!--Styled Pagination-->
              <ul class="styled-pagination">
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next">
                  <a href="#"><span class="fa fa-angle-double-right"></span></a>
                </li>
              </ul>
              <!--End Styled Pagination-->
            </div>
          </div>
        </div>

        <!-- Sidebar Side -->
        <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
          <aside class="sidebar sticky-top">
            <!-- category -->
            <div class="sidebar-widget category-widget">
              <div class="sidebar-title">
                <h5>Blog Categories</h5>
              </div>

              <ul class="cat-list">
                <li><a href="#">Business</a></li>
                <li><a href="#">Creative Design</a></li>
                <li><a href="#">Agency</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Life Style</a></li>
                <li><a href="#">Branding</a></li>
              </ul>
            </div>

            <!-- Search -->
            <div class="sidebar-widget search-box">
              <form method="post" action="contact.html">
                <div class="form-group">
                  <input
                    type="search"
                    name="search-field"
                    value=""
                    placeholder="Search"
                    required
                  />
                  <button type="submit">
                    <span class="icon fa fa-search"></span>
                  </button>
                </div>
              </form>
            </div>

            <!-- Popular Posts -->
            <div class="sidebar-widget popular-posts">
              <div class="sidebar-title"><h5>Recent Post</h5></div>

              <article class="post">
                <div class="text">
                  <a href="blog-single.html"
                    >How AI in the Workforce is Transforming Travel</a
                  >
                </div>
                <div class="post-info">Oct 19 , 2020</div>
              </article>

              <article class="post">
                <div class="text">
                  <a href="blog-single.html"
                    >Forrester shares their perspective
                  </a>
                </div>
                <div class="post-info">Oct 19 , 2020</div>
              </article>

              <article class="post">
                <div class="text">
                  <a href="blog-single.html">Creative Project CRM Management</a>
                </div>
                <div class="post-info">Oct 19 , 2020</div>
              </article>

              <article class="post">
                <div class="text">
                  <a href="blog-single.html">Creative Project CRM Management</a>
                </div>
                <div class="post-info">Oct 19 , 2020</div>
              </article>
            </div>

            <!-- category -->
            <div class="sidebar-widget category-widget">
              <div class="sidebar-title">
                <h5>Archive</h5>
              </div>

              <ul class="cat-list">
                <li><a href="#">February 2020</a></li>
                <li><a href="#">January 2018</a></li>
                <li><a href="#">February 2017</a></li>
                <li><a href="#">February 2016</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sidebar Page Container -->

  <!-- Call To Action Section Two -->
  <section class="call-to-action-section-two">
    <div
      class="pattern-layer titlt"
      data-tilt
      data-tilt-max="2"
      style="
        background-image: url(../../../assets/images/background/pattern-24.png);
      "
    ></div>
    <div class="auto-container">
      <div class="inner-container">
        <h4>Partner with Pixeld to succeed online</h4>
        <div class="text">
          Getting started is easy, obligation and cost free.
        </div>
        <a href="#" class="theme-btn btn-style-four"
          ><span class="txt">Get Started free</span></a
        >
      </div>
    </div>
  </section>
  <!-- End Call To Action Section Two -->
</div>
